.header{
    box-shadow: 0 0.2em 0.375em #0000004A;
    width: 100%;
    height: 5em;
    background-color: #B2DAED;
    border-bottom: 1.5px solid #303032;
}

.header__text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
    font-weight: 500;
}