@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  font-family: "Comic Neue", Helvetica, Arial, sans-serif;
  width: 100%;

  color-scheme: light dark;
  color: #303032;
  background-color: #D5C8B8;
}

:root body{
  margin: 0%;
}
